<div class="dashboard-container">
  <!-- <h1>Dashboard</h1> -->
  <div class="dashboard-card">
    <div class="card big-card">
      <h2>Large card</h2>
      <h1>Welcome to your Dashboard</h1>
    </div>
  </div>
  <div class="dashboard-card">
    <% 4.times do |index|%>
      <div class="card small-card">
        <h2>Small card</h2>
      </div>
    <% end %>
  </div>
  <div class="dashboard-card medium-container">
    <% 2.times do |index|%>
      <div class="card medium-card">
        <h2>Medium card </h2>
      </div>
    <% end %>
  </div>
</div>

