<div class="dashboard-container">
  <!-- <h1>Dashboard</h1> -->
  <div class="dashboard-card"></div>
    <div class="card big-card"></div>
  <div class="dashboard-card">
    <div class="card small-card"></div>
    <div class="card small-card"></div>
    <div class="card small-card"></div>
  </div>
  <div class="dashboard-card">
    <div class="card medium-card"></div>
    <div class="card medium-card"></div>
  </div>
</div>
