<div class="dashboard-container">
  <div class="dashboard-card">
    <%= render 'events/partials/card', attributes: {size: "big-card", title_text: "DASHBOARD hello"} %>
  </div>
  <div class="dashboard-card medium-container">
    <% if @features_on_hold["events"] %>
      <%= render 'events/partials/card', attributes: {size: "medium-card", title_text: "UPCOMING EVENTS", type: "events", url: events_path} %>
    <% end %>
    <%= render 'events/partials/card', attributes: {size: "small-card", title_text: "STATISTICS", type: "statistics"} %>
    <% if @features_on_hold["team"] %>
      <%= render 'events/partials/card', attributes: {size: "small-card", title_text: "TEAM", type: "team", url: teammates_path} %>
    <% end %>
  </div>
</div>

