<h1>Photo Stream</h1>
<%= react_component('ThumbnailsList', { thumbnails: @dropbox_thumbnails }) %>

<script type="text/javascript">
    var FFWebsocketManager = (function () {
        var scheme = "<%= Rails.env.production? ? 'wss://' : 'ws://' %>"
        var host = "<%= ENV['HOST'] %>";
        var uri = scheme + host + '/medias/stream/';
        var ws = new WebSocket(uri);
        console.log('[FFWebsocketManager] created a new websocket connection');
        
        ws.onopen = function (event) {
            console.log('[FFWebsocketManager] Opeing ws!!');
            ws.send('[FFWebsocketManager] Can you hear me?', event);
        };
        
        ws.onmessage = function (event) {
            console.log('[FFWebsocketManager] Received a message!', event);
            console.log(event.data);
            if(event.data instanceof Array) {
                debugger;
                let imgs = event.data.map(link => {
                    return $('<img>').attr('src', link);
                });
                $('#medias_list').append(imgs);
            }
        };

        ws.onclose = function (event) {
            console.log('[FFWebsocketManager] Closed...', event);
        };

        ws.onerror = function (event) {
            console.log('[FFWebsocketManager] Error....', event)
        };

        return {
            send: function (message) {
                console.log('Hello!');
                ws.send("Hello!");
            }
        };
    })();
</script>