

<form action="/medias/uploaded" class="new_media" id="new_media" method="post">
  <input name="authenticity_token" type="hidden" value="NrOp5bsjoLRuK8IW5+dQEYjKGUJDe7TQoZVvq95Wteg=" />
<input type="file" name="url">


  <input name="commit" type="submit" value="Create Media" />
</form>
