<div class="sidebar-footer-container">
  <div class="sidebar-footer">
    <div class="setting section1"></div>
    <div class="setting section2"></div>
    <div class="setting section3"></div>
  </div>
</div>
