<% if @shared_photos.any? %>
  <% @shared_photos.each do |photo| %>
    <%= image_tag(photo.url) %>
  <% end %>
<% else %>
  <div class="no-photos">
    <h3>No photos available..</h3>
  </div>
<% end %>
