@import "dashboard/cards";
@import "dashboard/upcomingevents";

.dashboard-container {
  background-color: rgba(207, 207, 207, 0.52);
  padding-top:5px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding-right:10px;
  height: 100%;

}


