

.dashboard-container {
  background-color: rgba(168, 121, 116, 0.09);
  padding-top:5px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding-right:10px;
  height: 100%;

  .dashboard-card {
      width: 100%;
      display: flex;
      margin-left:5px;
      min-height: 20rem;
      // flex-wrap: wrap;
      flex-shrink: 0;
      height: calc(100% /3);


    .card {
      text-align: center;
      margin: 5px 5px;
      background-color:white;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
      transition: all 0.12s;
       &:hover {
        transform: scale(1.02);
      }
    }

    .big-card {
      min-width:80rem;
      width: 100%;
    }

    .medium-card {
      min-width: 46rem;
      width: calc(100%  /2);

    }

    .small-card {
     min-width: 26rem;
    width: calc(100%  /4);
    }
  }
}


