$sidebar-overlay: rgba(249, 247, 239, 0.03);
$sidebar-font-color: rgba(249, 247, 239, 0.82);
  .avatar {
    height:233px;
    width: 100%;
    border-bottom: 1px rgba(211, 211, 211, 0.1) solid;
    border-top: 1px rgba(211, 211, 211, 0.1) solid;
    background-color: $sidebar-overlay;
    .avatar-image {
      height:150px;
      width:150px;
      border-radius: 50%;
      border: 3px rgba(255, 161, 161, 0.83) solid;
      position: relative;
      margin-top: 25px;
      left:50%;
      transform: translateX(-50%);
      background-image: url('congruent_pentagon.png');
      .avatar-placeholder {
        top: 43%;
        position: relative;
        transform: translateY(-50%);
        h4 {
          color: #5F5F5F;
          font-size: 18px;
          text-align: center;
          font-weight: 300;
        }
      }
    }
    .avatar-email {
      text-align:center;
      color:$sidebar-font-color;
      h4 {
        font-size: 14px;
        margin-top:20px;
      }
    }
  }
